In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# train test split the data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# import regression algorithms
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

#import grid search cv for cross validation
from sklearn.model_selection import GridSearchCV

# import preprocessors
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
df = pd.read_csv("tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [4]:



en_cloumns = ['sex','smoker','day','time']

lable_en = {}
for col in en_cloumns:
    le = LabelEncoder()
    df[col]=le.fit_transform(df[col])
    lable_en=le
    
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [6]:
x = df.drop('tip',axis=1)
y = df['tip']

x_train , x_test , y_train , y_test = train_test_split(x,y, test_size=0.2,random_state=42)


models ={
        'LinearRegression' : LinearRegression(),
          'SVR' : SVR(),
          'DecisionTreeRegressor' : DecisionTreeRegressor(),
          'RandomForestRegressor' : RandomForestRegressor(),
          'KNeighborsRegressor' : KNeighborsRegressor(),
          'GradientBoostingRegressor' : GradientBoostingRegressor(),
          'XGBRegressor' : XGBRegressor()   
}

model_score = []
for name , model in models.items():
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    metric = mean_absolute_error(y_test,y_pred)
    model_score.append((name ,metric))
    
    
sorted_score = sorted(model_score , key=lambda x : x[1], reverse=False)

for model in model_score:

    print(f"Show the mean of absolute error:", {model[0]},{model[1]})

Show the mean of absolute error: {'LinearRegression'} {0.6703807496461158}
Show the mean of absolute error: {'SVR'} {0.5707097371316318}
Show the mean of absolute error: {'DecisionTreeRegressor'} {0.8569387755102041}
Show the mean of absolute error: {'RandomForestRegressor'} {0.7975408163265308}
Show the mean of absolute error: {'KNeighborsRegressor'} {0.7262448979591837}
Show the mean of absolute error: {'GradientBoostingRegressor'} {0.7363490316485989}
Show the mean of absolute error: {'XGBRegressor'} {0.6721697168934103}