In [ ]:
import pandas as pd

In [2]:
df= pd.read_csv('data.csv')
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,313000.0,3,1.50,1340.0,7912.0,1.5,0.0,0.0,3.0,1340.0,0.0,1955.0,2005.0,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2384000.0,5,2.50,3650.0,9050.0,2.0,0.0,4.0,5.0,3370.0,280.0,1921.0,0.0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,342000.0,3,2.00,1930.0,11947.0,1.0,0.0,0.0,4.0,1930.0,0.0,1966.0,0.0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,420000.0,3,2.25,2000.0,8030.0,1.0,0.0,0.0,4.0,1000.0,1000.0,1963.0,0.0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,550000.0,4,NaN,NaN,NaN,NaN,NaN,0.0,4.0,1140.0,800.0,1976.0,1992.0,9105 170th Ave NE,Redmond,WA 98052,USA

In [3]:
df.tail(
    
)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,7/9/2014 0:00,308166.6667,3,1.75,1510.0,6360.0,1.0,0.0,0.0,4.0,1510.0,0.0,1954.0,1979.0,501 N 143rd St,Seattle,WA 98133,USA
4596,7/9/2014 0:00,534333.3333,3,2.50,1460.0,7573.0,2.0,0.0,0.0,3.0,1460.0,0.0,1983.0,2009.0,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,7/9/2014 0:00,416904.1667,3,2.50,3010.0,7014.0,2.0,0.0,0.0,3.0,3010.0,0.0,2009.0,0.0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,7/10/2014 0:00,203400.0000,4,2.00,2090.0,6630.0,1.0,0.0,0.0,3.0,1070.0,1020.0,1974.0,0.0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,220600.0000,3,2.50,1490.0,8102.0,2.0,0.0,0.0,4.0,1490.0,0.0,1990.0,0.0,18717 SE 258th St,Covington,WA 98042,USA

In [4]:
df.shape[0]

4600

In [5]:
df.shape[1]

18

In [6]:
df.isnull().sum()

date              0
price             0
bedrooms          0
bathrooms        47
sqft_living      47
sqft_lot         47
floors           47
waterfront       47
view             48
condition        48
sqft_above       48
sqft_basement    48
yr_built         48
yr_renovated     48
street           48
city              0
statezip          0
country           0
dtype: int64

In [17]:
df['bathrooms'] = df['bathrooms'].fillna(df['bathrooms'].mean())
df['sqft_living'] = df['sqft_living'].fillna(df['sqft_living'].mode()[0])
df['sqft_lot'] = df['sqft_lot'].fillna(df['sqft_lot'].mean())
df['floors'] = df['floors'].fillna(df['floors'].mean())
df['waterfront'] = df['waterfront'].fillna(df['waterfront'].mean())
df['view'] = df['view'].fillna(df['view'].mean())
df['condition'] = df['condition'].fillna(df['condition'].mean())
df['sqft_above'] = df['sqft_above'].fillna(df['sqft_above'].mean())
df['sqft_basement'] = df['sqft_basement'].fillna(df['sqft_basement'].mean())
df['yr_built'] = df['yr_built'].fillna(df['yr_built'].mean())
df['yr_renovated'] = df['yr_renovated'].fillna(df['yr_renovated'].mean())
df['street']=df['street'].fillna(df['street'].mode()[0])
df.isnull().sum().sort_values(ascending=False)

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [21]:
print(df.dtypes)

date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition        float64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated     float64
street            object
city              object
statezip          object
country           object
dtype: object